@font-face {
  src: url('/fonts/AirbnbCereal_W_Md.woff2');
  font-family: 'AirbnbCereal_W_Md';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  -webkit-font-smoothing: inherit;
}

html {
  color-scheme: light;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: 'AirbnbCereal_W_Md', sans-serif;
  -webkit-font-smoothing: antialiased;
  --max-width: 980px;
}
